<!DOCTYPE html>
<html>
    <head>
        <title> flopsy </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flopsy Homepage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <header>
            <h1>Welcome to Flopsy</h1>
            <p>"Where your orders are just a hop, skip, and away!"</p>
        </header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <img src="static/banner.jpg" alt="Bunny Banner" height="1080" width="1920">
        <main>
            <section>
                <h2>About Us</h2>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Sit luctus id lectus finibus fringilla turpis senectus dignissim magna. Varius ante molestie libero a mus nunc. Pharetra libero est montes rhoncus pellentesque; facilisi rutrum venenatis. Tortor donec tellus; nulla ex magna nascetur. Potenti quis curabitur mattis conubia curabitur? Tortor morbi sapien sollicitudin justo faucibus mollis nisi consequat. Hendrerit aliquam primis dui potenti eros dui facilisis torquent.
                </p>
            </section>
        </main>
        <footer>
            <p>&copy; 2024 Flopsy. All rights reserved.</p>
        </footer>
    </body>
</html>

